$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);
$white: hsl(0, 0%, 100%);

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500..700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 0.8125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  background-color: $light-grayish-blue;
}
